.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.left {
  flex: 1;
  display: flex;
  gap: 8px;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
